{#
 # Logo
 #}

<h2 class="c-logo {{is_logo_footer?"c-logo--footer":"js-logo"}}">
    <span>{{ site.name }}</span>
    <a href="{{site.url}}">
        <img src="{{images_url}}/logo-ewd.svg" class="svg" alt="{{site.name}}">
    </a>
</h2>